/target

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
.zed

.sdk
*.sp
*.smx
sm-pkg.yaml
# Added by goreleaser init:
dist/
.intentionally-empty-file.o
target/
test_root
