Groups
{
	/**
	 * Allowed properties for a group:
	 *
	 *   "flags"           - Flag string.
	 *   "immunity"        - Immunity level number, or a group name.
	 *						 If the group name is a number, prepend it with an
	 *						 '@' symbol similar to admins_simple.ini.  Users
	 *						 will only inherit the level number if it's higher
	 *						 than their current value.
	 */
{% if let Some(immunity) = default_immunity %}
	"Default"
	{
		"immunity"		"{{ immunity }}"
	}
{% endif %}

{% if let Some(valid) = groups %}
    {% for group in valid %}
        "{{ group.name }}"
        {
        {% if let Some(overrides) = group.overrides %}
            Overrides
            {
                {% for value in overrides %}
                    "{{ value.command }}"	"{{ value.action }}"
                {% endfor %}
            }
        {% endif %}
        {% if let Some(flags) = group.flags %}"flags"			"{{ flags }}"{% endif %}
        {% if let Some(immunity) = group.immunity %}"immunity"			"{{ immunity }}"{% endif %}
        }
    {% endfor %}
{%endif %}
}
