name: publish
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["release"]
    types:
      - completed

permissions:
  contents: read

jobs:
  publish_crate:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
